# **Bienvenidos a la introducción de Python con Google Colab!**

Vamos a iniciar el curso desde conceptos básicos como imprimir un texto en la consola e ir avanzando en el mismo hasta aprender a manejar estructuras de datos.

Para poder imprimir un dato, variable o texto en la consola debemos utilizar la siguiente sentencia:
```
      print('Lo que se desee imprimir')
```

Estas listo para escribir tu primera linea de código en Python?

In [ ]:
print('Hola!!')

**Ahora es tu turno de probar, intenta imprimir tu nombre en la consola:**

*IMPORTANTE: en colab tenemos varias formas para ejecutar un código, como ya sabemos una posibilidad es tocar el boton de Play de la celda probemos que pasa si utilizamos:



1.   **Cmd/Ctrl+Enter**
2.   **Shift+Enter**
3.   **Alt+Enter**

In [ ]:
print("Fede")

In [ ]:
print("Pythonauta")

## Tipos de datos

*   float - numeros reales
*   int - numeros enteros
*   str - string, texto
*   bool - True, False

Con la función type(), podemos saber que tipo de dato es cada uno, averiguemos a cuales corresponden los siguientes ejemplos:

In [ ]:
type(5.5)

In [ ]:
type(20)

In [ ]:
type("Las cadenas de textos siempre van entre comillas, pueden ser simples o dobles, lo importante es que sea la misma la que abre y cierra el string")

In [ ]:
type(True) # con el numeral se pueden adicionar comentarios al código como este.

## Operaciones básicas

Para poder realizar operaciones con los datos, Python trae una serie de operadores conocidos por todos que nos van a permitir sumar, restar, dividir, multiplicar, etc.

Esto no solo aplica para los numeros, sino que tambien se pueden utilizar con otros tipos de datos, vamos a ver unos ejemplos:

### Suma y resta:

In [ ]:
# sumamos dos int

4 + 5

In [ ]:
# restamos dos float

4.7 - 3.5

In [ ]:
# sumamos dos cadenas de texto

print('Que bueno que Python me permite sumar cadenas de texto' + ' de una menera muy sencilla!')

In [ ]:
# que creen que ocurre si restamos dos boolean?

True - True

In [ ]:
# y si sumamos un boolean con un int?

True + 9

### Multiplcación y division:

In [ ]:
# dividimos dos int

5 / 5

In [ ]:
#verifiquemos que tipo de dato es el resultante...

type(5 / 5)

In [ ]:
# si utilizamos doble barra de division que dato creen que nos esta entregando?

9 // 2

In [ ]:
9 / 2

In [ ]:
9 % 2

In [ ]:
# y si utilizamos el %?

5 % 2

In [ ]:
# realizamos una multiplicación entre dos enteros

5 * 5

In [ ]:
# que operación creen que significa **?

25 ** (1/2)

In [ ]:
5 ** 2

## Operadores lógicos

Es de mucha utilidad utilizar operadores para utilizar los datos satisfacen ciertas condiciones, ejecutar una sentencia si es verdadero, etc.

En primera medida analizaremos condiciones simples:

* x == y: x **es igual a** y
* x != y: x **es distinto a** y
* x > y : x **es mayor a** y
* x < y : x **es menor a** y
* x >= y: x **es mayor o igual a** y
* x <= y: x **es menor o igual a** y

Ahora probemos con un ejemplo de cada uno para reforzar el conocimiento:

In [ ]:
1 == 1

In [ ]:
1 != 1

In [ ]:
1 > 0

In [ ]:
1 < 2

In [ ]:
1 >= 2

In [ ]:
1 <= 2

Probemos ahora algunas comparaciones entre cadenas de texto y diferentes tipos de datos

In [ ]:
"hola" == "hola"

In [ ]:
"hola" == "hol"

In [ ]:
"hala" > "hol"

In [ ]:
1 == "uno"

In [ ]:
True == "True"

In [ ]:
True == 1

Ahora vamos a ver condicionales un poco mas complejos.

Como haríamos si en vez de solamente necesitar que se cumpla una condición, buscamos que se cumplan dos o tres o n condiciones?

Como bien pensaban, hay operadores que nos permiten verificar el cumplimiento de varias condiciones! Ellos son:

* **and**: solo si se cumplen las dos condiciones la resultante es True.
* **or**: si se cumple alguna de las dos condiciones la resultante es True.
* **not**: da como resultado el opuesto de la condicion lógica interna.

Probemos con unos ejemplos:

In [ ]:
3 > 2 and 1 > 4

In [ ]:
3 > 2 and 3 > 1

In [ ]:
False and False

In [ ]:
True or False

In [ ]:
True or True

In [ ]:
False or False

In [ ]:
not True

In [ ]:
not 1 > 3

## Variables

Ya aprendimos bastante sobre los tipos de datos que se utilizan en Python, ahora nos preguntamos, donde se almacenan los datos que vamos a utilizar para trabajar?

La respuesta es sencilla, **en variables!**

Para asignar un valor a una variable, simplemente escribimos el nombre de la misma y la igualamos a lo que querramos asignarle.

Es muy probable que por dentro nos preguntemos... no necesito definir que tipo de dato es el que va a almacenar la variable dentro? La respuesta es **NO**, Python se encargará de ello por nosotros.

Ahora probemos asignar diferentes tipos de datos a las variables.

In [ ]:
a = 5
b = 10.5

In [ ]:
print(a)

In [ ]:
print(b)

Ahora vamos a analizar los tipos de datos de estas variables y hacer algunas operaciones con ellas

In [ ]:
type(a)

In [ ]:
type(b)

In [ ]:
c = a + b

In [ ]:
c

In [ ]:
type(c)

## Trabajando con texto

### Metodos comunes

In [ ]:
string_1 = "HOLA"
string_1 = string_1.lower()

In [ ]:
string_1

In [ ]:
string_2 = "hola"
string_2.upper()

In [ ]:
string_3 = "fede"
string_3.capitalize()

In [ ]:
string_4 = "Quiero saber cuantas veces esta la letra a"
string_4.count("a")

In [ ]:
string_5 = "Ahora me gustaria reemplazar una palabra"
string_5.replace("Ahora", "Mañana")

### Formatting

Veamos ahora como imprimir un mensaje que provea informacion de alguna variable.

In [ ]:
# Variables que queremos utilizar
edad = 27
nombre = "Fede Cardoso"

In [ ]:
# Objetivo, crear un string que diga: Mi nombre es Fede Cardoso, y tengo 27 años

print(f"Mi nombre es {nombre}, y tengo {edad} años")

In [ ]:
# Tambien podemos utilizar esta forma

print("Mi nombre es {}, y tengo {} años".format(nombre, edad))